<a href="https://colab.research.google.com/github/hydermbs/Python-exercise/blob/main/Data_Structure_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise 1: Create a list by picking an odd-index items from the first list and even index items from the second**

Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

**Given:**

l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]

In [ ]:
l1 = [3, 6, 9, 12, 15, 18, 21] 
l2 = [4, 8, 12, 16, 20, 24, 28]

#we use slice method by given start, end and step
odd = l1[1:7:2]
print('Odd index number:',odd,'\n')
even = l2[0:7:2]
print('Even Index number: ',even,'\n')
#then concatenate both of them
print('Final third List')
new_list = odd + even
print(new_list)

Odd index number: [6, 12, 18]

Even Index number:  [4, 12, 20, 28]

Final third List
[6, 12, 18, 4, 12, 20, 28]

In [ ]:
l1 = [3, 6, 9, 12, 15, 18, 21] 
l2 = [4, 8, 12, 16, 20, 24, 28]
res = []
#here is second method of slicing
odd = l1[1::2]

print('Odd Index number : ',odd,'\n')

even = l2[0::2]
print('Even Index Number : ',even,'\n')

print("printing final third list")

res.extend(odd)
res.extend(even)

print(res)

Odd Index number :  [6, 12, 18]

Even Index Number :  [4, 12, 20, 28]

printing final third list
[6, 12, 18, 4, 12, 20, 28]

**Exercise 2: Remove and add item in a list**

Write a program to remove the item present at index 4 and add it to the 2nd position and at the end of the list.

**Given:**

list1 = [54, 44, 27, 79, 91, 41]

In [ ]:
list1 = [54, 44, 27, 79, 91, 41]

list1.pop(4)
print('List after deleting number from index 2',list1)

list1.insert(2,11)
print('list after insert 44 at same index',list1)


list1.append(11)
print('list after adding a number in last',list1)

List after deleting number from index 2 [54, 44, 27, 79, 41]
list after insert 44 at same index [54, 44, 11, 27, 79, 41]
list after adding a number in last [54, 44, 11, 27, 79, 41, 11]

**Exercise 4: Count the occurrence of each element from a list**

Write a program to iterate a given list and count the occurrence of each element and create a dictionary to show the count of each element.

sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]

In [ ]:
sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89]
print('Original list is:',sample_list)

count_dict = dict()

for item in sample_list:
  if item in count_dict:
    count_dict[item]+=1
  else:
    count_dict[item]=1
print(count_dict)

Original list is: [11, 45, 8, 23, 14, 12, 78, 45, 89]
{11: 1, 45: 2, 8: 1, 23: 1, 14: 1, 12: 1, 78: 1, 89: 1}

**Exercise 5: Create a Python set such that it shows the element from both lists in a pair**
Given:

first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]

In [2]:
first_list = [2,3,4,5,6,7,8]
print('First list :',first_list)
second_list = [4,9,16,25,36,49,64]
print('second list : ',second_list)
result = zip(first_list,second_list)
result_set = set(result)
print(result_set)

First list : [2, 3, 4, 5, 6, 7, 8]
second list :  [4, 9, 16, 25, 36, 49, 64]
{(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

**Exercise 6: Find the intersection (common) of two sets and remove those elements from the first set**

**Given:**

first_set = {23, 42, 65, 57, 78, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}

In [6]:
first_set = {23,42,65,57,78,83,29}
print('First set is:',first_set)
second_set = {57,83,29,67,73,43,48}
print('Second set is : ',second_set)
intersection = first_set.intersection(second_set)
print('Intersection set is :', intersection)
for item in intersection:
  first_set.remove(item)
print('First list after intersection is: ', first_set)

First set is: {65, 42, 78, 83, 23, 57, 29}
Second set is :  {67, 73, 43, 48, 83, 57, 29}
Intersection set is : {57, 83, 29}
First list after intersection is:  {65, 42, 78, 23}

**Exercise 7: Checks if one set is a subset or superset of another set. If found, delete all elements from that set**

**Given:**

first_set = {27, 43, 34}
second_set = {34, 93, 22, 27, 43, 53, 48}

In [11]:
first_set = {27, 43, 34}
print("First Set :", first_set)
second_set = {34, 93, 22, 27, 43, 53, 48}
print("second Set: ",second_set)

print('First set is subset of Second set:',first_set.issubset(second_set))
print('Second set is subset of First set:',second_set.issubset(first_set))
print('First set is super set of second set',first_set.issuperset(second_set))
print('Second Set is super set of first set',second_set.issuperset(first_set))

if first_set.issubset(second_set):
  first_set.clear()
if second_set.issubset(first_set):
  second_set.clear()
print('First set is ',first_set)
print('second Set is ',second_set)

First Set : {43, 34, 27}
second Set:  {34, 43, 48, 53, 22, 27, 93}
First set is subset of Second set: True
Second set is subset of First set: False
First set is super set of second set False
Second Set is super set of first set True
First set is  set()
second Set is  {34, 43, 48, 53, 22, 27, 93}

**Exercise 8: Iterate a given list and check if a given element exists as a key’s value in a dictionary. If not, delete it from the list**

**Given:**

roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}

In [13]:
roll_number = [47, 64, 69, 37, 76, 83, 95, 97] 
print('List is:',roll_number)
sample_dict = {'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}
print('dictionarty is:',sample_dict)
roll_number[:] = [item for item in roll_number if item in sample_dict.values()]
print('New list is:',roll_number)

List is: [47, 64, 69, 37, 76, 83, 95, 97]
dictionarty is: {'Jhon': 47, 'Emma': 69, 'Kelly': 76, 'Jason': 97}
New list is: [47, 69, 76, 97]

**Exercise 9: Get all values from the dictionary and add them to a list but don’t add duplicates**

**Given:**

speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53, 'july': 54, 'Aug': 44, 'Sept': 54}

In [16]:
speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53, 'july': 54, 'Aug': 44, 'Sept': 54}
print('Dictionary: ',speed)
speed_list = []
for item in speed.values():
  if item not in speed_list:
    speed_list.append(item)
print('List is :',speed_list)

Dictionary:  {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53, 'july': 54, 'Aug': 44, 'Sept': 54}
List is : [47, 52, 44, 53, 54]

**Exercise 10: Remove duplicates from a list and create a tuple and find the minimum and maximum number**

**Given:**

sample_list = [87, 45, 41, 65, 94, 41, 99, 94]

In [27]:
sample_list = [87,45,65,94,41,99,94]
print('Sample List is:',sample_list)
unique_list = list(set(sample_list))
print('Unique List is:',unique_list)
t = tuple(sample_list)
print('Tuple list is: ',t)
a = min(sample_list)
print('Minimum number is:',a)
b = max(sample_list)
print('Maximum number is :',b)

Sample List is: [87, 45, 65, 94, 41, 99, 94]
Unique List is: [65, 99, 41, 45, 87, 94]
Tuple list is:  (87, 45, 65, 94, 41, 99, 94)

TypeError: ignored