<a href="https://colab.research.google.com/github/hydermbs/Python-exercise/blob/main/Dictionary_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise 1: Convert two lists into a dictionary**

Below are the two lists.

Write a Python program to convert them into a dictionary in a way that item from list1 is the key and item from list2 is the value

keys = ['Ten', 'Twenty', 'Thirty']

values = [10, 20, 30]

In [ ]:
keys = ['Ten', 'Twenty', 'Thirty']

values = [10, 20, 30]

new_dict =dict(zip(keys,values))
print(new_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [ ]:
res_dict = {}
for i in range(len(keys)):
  res_dict.update({keys[i]:values[i]})
print(res_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

**Exercise 2: Merge two Python dictionaries into one**

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [ ]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict1.update(dict2)
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [ ]:
new_dict= {**dict1,**dict2}
print(new_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

**Exercise 3: Print the value of key ‘history’ from the below dict**

In [ ]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
# understand how to located the nested key
# sampleDict['class'] = {'student': {'name': 'Mike', 'marks': {'physics': 70, 'history': 80}}}
# sampleDict['class']['student'] = {'name': 'Mike', 'marks': {'physics': 70, 'history': 80}}
# sampleDict['class']['student']['marks'] = {'physics': 70, 'history': 80}

# solution
print('History value is',sampleDict['class']['student']['marks']['history'])

History value is 80

**Exercise 4: Initialize dictionary with default values**

In Python, we can initialize the keys with the same values.

**Given:**

employees = ['Kelly', 'Emma']

defaults = {"designation": 'Developer', "salary": 8000}

In [ ]:
employees = ['Kelly', 'Emma']

defaults = {"designation": 'Developer', "salary": 8000}

res = dict.fromkeys(employees,defaults)
print(res)
#individual data
print(res['Kelly'])

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}
{'designation': 'Developer', 'salary': 8000}

**Exercise 5: Create a dictionary by extracting the keys from a given dictionary**

Write a Python program to create a new dictionary by extracting the mentioned keys from the below dictionary.

Given dictionary:

In [ ]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]

res_dict = {}

for k in keys:
  # add current key with its va;ue from sample_dict
  res_dict.update({k: sample_dict[k]})

print(res_dict)

{'name': 'Kelly', 'salary': 8000}

In [ ]:
newDict = {k: sample_dict[k] for k in keys}
print(newDict)

{'name': 'Kelly', 'salary': 8000}

**Exercise 6: Delete a list of keys from a dictionary**

In [11]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}
key = ['name','salary']

for k in key:
  sample_dict.pop(k)
print(sample_dict)

{'age': 25, 'city': 'New york'}

**Exercise 7: Check if a value exists in a dictionary**

We know how to check if the key exists in a dictionary. Sometimes it is required to check if the given value is present.

Write a Python program to check if value 200 exists in the following dictionary.

In [17]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}
if 200 in sample_dict.values():
  print('200 present in a dict')

200 present in a dict

**Exercise 8: Rename key of a dictionary**

Write a program to rename a key city to a location in the following dictionary.

In [20]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

sample_dict['Location'] = sample_dict.pop("city")
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'Location': 'New york'}

**Exercise 9: Get the key of a minimum value from the following dictionary**

In [21]:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
print('Minimum value is',min(sample_dict))

Minimum value is Math

**Exercise 10: Change value of a key in a nested dictionary**

Write a Python program to change Brad’s salary to 8500 in the following dictionary.

In [23]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}
sample_dict['emp3']['salary']=8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}