<a href="https://colab.research.google.com/github/hydermbs/Python-exercise/blob/main/Functions_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise 1: Create a function in Python**

Write a program to create a function that takes two arguments, name and age, and print their value.

In [1]:
def data(name,age):
  print('My name is ',name)
  print('My age is ',age)
data('Hyder',31)

My name is  Hyder
My age is  31

**Exercise 2: Create a function with variable length of arguments**

Write a program to create function func1() to accept a variable length of arguments and print their value.

Note: Create a function in such a way that we can pass any number of arguments to this function and the function should process them and display each argument’s value.

In [6]:
def variable(*numbers):
  print(numbers)
variable(2,3,5)
variable(3,5)

#We can also write it like this
print('\n')
def func1(*args):
  for i in args:
    print(i)
func1(2,3,5)
print('\n')
func1(3,6)

(2, 3, 5)
(3, 5)


2
3
5


3
6

**Exercise 3: Return multiple values from a function**

Write a program to create function calculation() such that it can accept two variables and calculate addition and subtraction. Also, it must return both addition and subtraction in a single return call.

Given:

In [8]:
def calculation(a, b):
  addition = a+b
  subtraction = a-b
  return addition, subtraction

res = calculation(40, 10)
print(res)

(50, 30)

**Exercise 4: Create a function with default argument**

Write a program to create a function show_employee() using the following conditions.

It should accept the employee’s name and salary and display both.
If the salary is missing in the function call then assign default value 9000 to salary:

In [10]:
def show_employee(name,salary=9000):
  print('employee name: ',name,'Employee Salary:',salary)
show_employee('Ben',12000)
show_employee('Jessa')

employee name:  Ben Employee Salary: 12000
employee name:  Jessa Employee Salary: 9000

**Exercise 5: Create an inner function to calculate the addition in the following way**

Create an outer function that will accept two parameters, a and b
Create an inner function inside an outer function that will calculate the addition of a and b
At last, an outer function will add 5 into addition and return it

In [13]:
def out(a,b):
  def addition(a,b):
    return a+b
  add = addition(a,b)
  return add+5
result=out(5,10)
print(result)

20

**Exercise 6: Create a recursive function**

Write a program to **create a recursive function to calculate the sum of numbers** from 0 to 10.

A recursive function is a function that calls itself, again and again.

Expected Output:

55

In [15]:
def func1(num):
  if num:
    return num + func1(num-1)
  else:
    return 0
res = func1(10)
print(res)

55

**Exercise 7: Assign a different name to function and call it through the new name**

Below is the function display_student(name, age). Assign a new name show_tudent(name, age) to it and call it using the new name.

In [16]:
def display_student(name,age):
  print(name,age)
display_student('Emma',26)
show_student = display_student
show_student('Hyder',31)

Emma 26
Hyder 31

**Exercise 8: Generate a Python list of all the even numbers between 4 to 30**

In [19]:
print(list(range(4,30,2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

**Exercise 9: Find the largest item from a given list**

x = [4, 6, 8, 24, 12, 2]

In [20]:
x = [4, 6, 8, 24, 12, 2]
print(max(x))

24