<a href="https://colab.research.google.com/github/hydermbs/Python-exercise/blob/main/If%2C_Else%2C_Loop_%26_Range_Excercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise 1: Print First 10 natural numbers using while loop**

In [ ]:
count=1
while count<11:
  print(count)
  count = count+1

1
2
3
4
5
6
7
8
9
10

**Exercise 2: Print the following pattern**
![Screenshot.png]()

In [ ]:
print('here is pattern')
#First we will enter rows qty
row=5
#Now we will run outer loop with for and range function:
for i in range(1,row+1,1):
  #will run second loop with i+1
  for j in range(1,i+1):
    print(j,end='')
  print('')

here is pattern
1
12
123
1234
12345

**Exercise 3: Calculate the sum of all numbers from 1 to a given number**
Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number

For example, if the user entered 10 the output should be 55 (1+2+3+4+5+6+7+8+9+10)

In [ ]:
#create variable to store the sum of all number:
s=0
num=int(input())
# run loop n times
# stop: n+1 (because range never include stop number in result)
for i in range(1,num+1,1):
   # add current number to sum variable
  s+=i

print('sum of all numbers',s)

10
sum of all numbers 55

**Exercise 4: Write a program to print multiplication table of a given number**

In [ ]:
#first we took input number:
n=int(input())
#we apply for loop with range 11 because loop does not count stop value:
for i in range(1,11):
  print(i*n)

2
2
4
6
8
10
12
14
16
18
20

**Exercise 5: Display numbers from a list using loop**
Write a program to display only those numbers from a list that satisfy the following conditions

The number must be divisible by five
If the number is greater than 150, then skip it and move to the next number
If the number is greater than 500, then stop the loop
numbers = [12, 75, 150, 180, 145, 525, 50]

In [ ]:
num = [12, 75, 150, 180, 145, 525, 50]
#itterate each item from the list

for i in num:
  if i>500:
    break
  elif i>150:
    continue
  #check if number is divisible by 5
  elif i%5==0:
    print(i)

75
150
145

**Exercise 6: Count the total number of digits in a number**
Write a program to count the total number of digits in a number using a while loop.

For example, the number is 75869, so the output should be 5.

In [ ]:
num=75869
count=0
while num !=0:
  # floor division
    # to reduce the last digit from number
  num=num//10
  # increment counter by 1
  count=count+1
print(count)

5

**Exercise 7: Print the following pattern**
Write a program to use for loop to print the following reverse number pattern![Screenshot2 (2).png]()

In [ ]:
print('Here is reverse pattern')
k=5
for i in range(0,6):
  for j in range(k-i,0,-1):
    print(j,end="")
  print('')

Here is reverse pattern
54321
4321
321
21
1

**Exercise 8: Print list in reverse order using a loop**

**Given:**

list1 = [10, 20, 30, 40, 50]

In [ ]:
list1= [10, 20, 30, 40, 50]
newlist = reversed(list1)
for item in newlist:
  print(item)
print('\n')
#second Solution

list2 = [10, 20, 30, 40, 50]
# get list size
# len(list2) -1: because index start with 0
# iterate list in reverse order
# star from last item to first

size = len(list2) - 1
for i in range(size, -1, -1):
    print(list1[i])

50
40
30
20
10


50
40
30
20
10

**Exercise 9: Display numbers from -10 to -1 using for loop**

In [ ]:
for i in range(-10,0):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

**Exercise 10: Use else block to display a message “Done” after successful execution of for loop**

For example, the following loop will execute without any error.

Given:

for i in range(5):
    print(i)

In [ ]:
for i in range(5):
  print(i)
else:
  print('done')

0
1
2
3
4
done

**Exercise 11: Write a program to display all prime numbers within a range**

Note: A Prime Number is a number that cannot be made by multiplying other whole numbers. A prime number is a natural number greater than 1 that is not a product of two smaller natural numbers

Examples:

6 is not a prime mumber because it can be made by 2×3 = 6
37 is a prime number because no other whole numbers multiply together to make it.
Given:

# range
start = 25
end = 50

In [ ]:
for num in range(25,51):
  # all prime numbers are greater than 1
  # if number is less than or equal to 1, it is not prime
  if num>1:
    for i in range(2,num):
      if num%i==0:
      # not a prime number so break inner loop and
      # look for next number
        break
    else:
      print(num)

29
31
37
41
43
47

**Exercise 12: Display Fibonacci series up to 10 terms**

The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1.

For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34.

In [ ]:
#first two numbers
num1, num2 = 0,1
#run loop 10 times
for i in range(10):
  #print next number of series
  print(num1,end =" ")
  # add last two numbers to get next number
  res = num1 + num2
  # update values
  num1=num2
  num2=res

0 1 1 2 3 5 8 13 21 34

**Exercise 13: Find the factorial of a given number**
Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

In [ ]:
fac = 1
for i in range(1,6,1):
  fac=fac*i
print(fac)

120

**Exercise 14: Reverse a given integer number**

**Given:** 

76542

**Expected output:**

24567

In [8]:
num = 76542
rev_num = 0
print('given number : ', num)
while num>0:
  #we will apply modulus operator to get reminder
  reminder = num%10
  rev_num = (rev_num*10)+reminder
  num = num//10
print('Reverse Number :',rev_num)

given number :  76542
Reverse Number : 24567

**Exercise 15: Use a loop to display elements from a given list present at odd index positions**

**Given:**

*my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]*

In [19]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in my_list[1::2]:
  print(i, end=" ")

20 40 60 80 100

**Exercise 16: Calculate the cube of all numbers from 1 to a given number**

Write a program to rint the cube of all numbers from 1 to a given number 

Given:

input_number = 6

In [22]:
num = int(input())
c = 0

for i in range (1,num+1):
  c = i**3
  print('Current number is :',i,'and the cube is:',c)

6
Current number is : 1 and the cube is: 1
Current number is : 2 and the cube is: 8
Current number is : 3 and the cube is: 27
Current number is : 4 and the cube is: 64
Current number is : 5 and the cube is: 125
Current number is : 6 and the cube is: 216

**Exercise 17: Find the sum of the series upto n terms**

Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690

In [28]:
n = 5
#first number of sequence

start = 2
sum_req = 0

for i in range(0,num):
  print(start, end = "+")
  sum_req += start
  start = start*10+2
print("\nSum of above series is:", sum_req)

2+22+222+2222+22222+222222+
Sum of above series is: 246912

**Exercise 18: Print the following pattern**

Write a program to print the following start pattern using the for loop

![Screenshot.png]()

In [36]:
row = 5
# we divide this in two patterns
for i in range (0,row,1):
  for j in range(0,i+1):
    print('*',end="")
  print('\r')
for i in range (row,0,-1):
  for j in range(0,i-1):
    print('*',end = "")
  print('\r')

*
**
***
****
*****
****
***
**
*