<a href="https://colab.research.google.com/github/hydermbs/Python-exercise/blob/main/Input_%26_Output_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q:1 Accept numbers from a user?**
Write a program to accept two numbers from the user and calculate multiplication.

In [4]:
#First we will initialize variable and choose data type as int
num1 = int(input('Enter First number '))
num2 = int(input('Enter second number '))
print('The answer is ',num1*num2)

Enter First number 5
Enter second number 6
The answer is  30

**Exercise 2: Display three string “Name”, “Is”, “James” as “Name** Is** James”****
Use the print() function to format the given words in the mentioned format. Display the ** separator between each string.

In [6]:
#we will use sep function to define the seperator between each string

print('Name','is','James',sep='**')

Name**is**James

**Exercise 3: Convert Decimal number to octal using print() output formatting**

In [7]:
#Use the %o formatting code in print() function to format decimal number to octal.

num = 8

#we have put value of 8,and octal numer of 8 is 10

print('%o' %num)

10

 **Display float number with 2 decimal places using print()**

In [9]:
#Use the %.2f formatting code in print() function to format float number to two decimal places.
num = 458.541315
print('%.2f'%num)

458.54

**Exercise 5: Accept a list of 5 float numbers as an input from the user**

In [15]:
#fisrt of all we create list veriable named number
number= []
#5 is the list size
#run loop 5 times
for i in range(0,5):
  print('Enter your number ',i,":")
  item= float(input())
  number.append(item)
print('User List is ',number)

Enter your number  0 :
25.2
Enter your number  1 :
26.3
Enter your number  2 :
27.4
Enter your number  3 :
28.5
Enter your number  4 :
29.6
User List is  [25.2, 26.3, 27.4, 28.5, 29.6]

**Exercise 6: Accept any three string from one input() call**

In [24]:
#first we initialize variables with data type string:
name1 = str(input())
name2 = str(input())
name3 = str(input())

# we run a print command

print('Name 1 : ',name1)
print('Name 2 : ',name2)
print('Name 3 : ',name3)

# we can also take output by using split function:
str1,str2,str3 = input('Enter 3 Names in it : ').split()
print('Name 1 : ',str1)
print('Name 2 : ',str2)
print('Name 3 : ',str3)

James
John
Abraham
Name 1 :  James
Name 2 :  John
Name 3 :  Abraham
Enter 3 Names in it : Jimmy Johny Vicky
Name 1 :  Jimmy
Name 2 :  Johny
Name 3 :  Vicky

**Exercise 7: Format variables using a string.format() method.**
Write a program to use string.format() method to format the following three variables as per the expected output

In [27]:
totalmoney = 1000
quantity = 3
price = 450
#Expected Output : I have 1000 dollars so I can buy 3 football for 450.00 dollars.
print('I have {0} dollars so I can but {2} footballs for {2:.2f} dollars'.format(totalmoney, quantity, price))

I have 1000 dollars so I can but 450 footballs for 450.00 dollars