<a href="https://colab.research.google.com/github/hydermbs/Python-exercise/blob/main/List_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise 1: Reverse a list in Python**

**Given:**

list1 = [100, 200, 300, 400, 500]

In [2]:
list1 = [100, 200, 300, 400, 500]
print('List is :',list1)
print('\n')
list1.reverse()
print('Reverse List is: ',list1)

List is : [100, 200, 300, 400, 500]


Reverse List is:  [500, 400, 300, 200, 100]

**Exercise 2: Concatenate two lists index-wise**

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

**Given:**

list1 = ["M", "na", "i", "Ke"]

list2 = ["y", "me", "s", "lly"]

In [4]:
list1 = ["M", "na", "i", "Ke"]

list2 = ["y", "me", "s", "lly"]

new_list = [i+j for i, j in zip(list1, list2)]

print('New list is:', new_list)

New list is: ['My', 'name', 'is', 'Kelly']

**Exercise 3: Turn every item of a list into its square**

Given a list of numbers. write a program to turn every item of a list into its square.

**Given:**

numbers = [1, 2, 3, 4, 5, 6, 7]

In [9]:
list1 = [1, 2, 3, 4, 5, 6, 7]

for i in range(0,len(list1)):
  square = list1[i]*list1[i]
  list1[i] = square
print(list1)

[1, 4, 9, 16, 25, 36, 49]

In [10]:
list1 = [1, 2, 3, 4, 5, 6, 7]

#add empty list as res
res = []
#run loop
for i in list1:
  res.append(i *  i)
print(res)

[1, 4, 9, 16, 25, 36, 49]

In [11]:
numbers = [1, 2, 3, 4, 5, 6, 7]
res = [x * x for x in numbers]
print(res)

[1, 4, 9, 16, 25, 36, 49]

**Exercise 4: Concatenate two lists in the following order**

list1 = ["Hello ", "take "]

list2 = ["Dear", "Sir"]

In [13]:
list1 = ["Hello ", "take "]

list2 = ["Dear", "Sir"]

new_list = [x + y for x in list1 for y in list2]

print(new_list)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [19]:
list1 = ["Hello ", "take "]

list2 = ["Dear", "Sir"]
res = []
for i in list1:
  for j in list2:
    res.append(i + j)
print(res)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

**Exercise 5: Iterate both lists simultaneously**

Given a two Python list. Write a program to iterate both lists simultaneously and display items from list1 in original order and items from list2 in reverse order.

**Given**

list1 = [10, 20, 30, 40]

list2 = [100, 200, 300, 400]

In [22]:
list1 = [10, 20, 30, 40]

list2 = [100, 200, 300, 400]

for x,y in zip(list1, list2[::-1]):
  print(x,y)

10 400
20 300
30 200
40 100

**Exercise 6: Remove empty strings from the list of strings**

list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

In [27]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
res = list(filter(None,list1))
print(res)

['Mike', 'Emma', 'Kelly', 'Brad']

**Exercise 7: Add new item to list after a specified item**

Write a program to add item 7000 after 6000 in the following Python List

**Given:**

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [28]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

# understand indexing
# list1[0] = 10
# list1[1] = 20
# list1[2] = [300, 400, [5000, 6000], 500]
# list1[2][2] = [5000, 6000]
# list1[2][2][1] = 6000

list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

**Exercise 8: Extend nested list by adding the sublist**

You have given a nested list. Write a program to extend it by adding the sublist ["h", "i", "j"] in such a way that it will look like the following list.

list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [29]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ['h','i','j']

# understand indexing
# list1[2] = ['c', ['d', 'e', ['f', 'g'], 'k'], 'l']
# list1[2][1] = ['d', 'e', ['f', 'g'], 'k']
# list1[2][1][2] = ['f', 'g']

list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

**Exercise 9: Replace listâ€™s item with new value if found**

You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item.

**Given:**

list1 = [5, 10, 15, 20, 25, 50, 20]

In [30]:
list1 = [5, 10, 15, 20, 25, 50, 20]

index = list1.index(20)

list1[index] = 200

print(list1)

[5, 10, 15, 200, 25, 50, 20]

**Exercise 10: Remove all occurrences of a specific item from a list.**

Given a Python list, write a program to remove all occurrences of item 20.

**Given:**

list1 = [5, 20, 15, 20, 25, 50, 20]

In [44]:
list1 =list([5, 20, 15, 20, 25, 50, 20])

for i in list1:
  if i == 20:
    list1.remove(i)
print(list1)

[5, 15, 25, 50]

In [45]:
list1 = [5, 20, 15, 20, 25, 50, 20]

# list comprehension
# remove specific items and return a new list
def remove_value(sample_list, val):
    return [i for i in sample_list if i != val]

res = remove_value(list1, 20)
print(res)

[5, 15, 25, 50]

In [46]:
list1 = [5, 20, 15, 20, 25, 50, 20]

while 20 in list1:
    list1.remove(20)
print(list1)

[5, 15, 25, 50]