<a href="https://colab.research.google.com/github/hydermbs/Python-exercise/blob/main/Sets_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise 1: Add a list of elements to a set**

Given a Python list, Write a program to add all its elements into a given set.

**Given:**

sample_set = {"Yellow", "Orange", "Black"}

sample_list = ["Blue", "Green", "Red"]

In [3]:
sample_set = {"Yellow", "Orange", "Black"}

sample_list = ["Blue", "Green", "Red"]
sample_set.update(sample_list)
print(sample_set)

{'Black', 'Yellow', 'Orange', 'Green', 'Blue', 'Red'}

**Exercise 2: Return a new set of identical items from two sets**

Given:

set1 = {10, 20, 30, 40, 50}

set2 = {30, 40, 50, 60, 70}

In [6]:
set1 = {10, 20, 30, 40, 50}

set2 = {30, 40, 50, 60, 70}

set1.intersection(set2)

{30, 40, 50}

**Exercise 3: Get Only unique items from two sets**

Write a Python program to return a new set with unique items from both sets by removing duplicates.

In [8]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.union(set2)

{10, 20, 30, 40, 50, 60, 70}

**Exercise 4: Update the first set with items that donâ€™t exist in the second set**

Given two Python sets, write a Python program to update the first set with items that exist only in the first set and not in the second set.

In [11]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}
set1.difference(set2)

{10, 30}

**Exercise 5: Remove items from the set at once**

Write a Python program to remove items 10, 20, 30 from the following set at once.

set1 = {10, 20, 30, 40, 50}

In [13]:
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10,20,30})
print(set1)

{40, 50}

**Exercise 6: Return a set of elements present in Set A or B, but not both**

In [14]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.symmetric_difference(set2)

{10, 20, 60, 70}

**Exercise 7: Check if two sets have any elements in common. If yes, display the common elements**

In [15]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}
set1.intersection(set2)

{10}

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

if set1.isdisjoint(set2):
  print("Two sets have no items in common")
else:
  print("Two sets have items in common")
  print(set1.intersection(set2))

**Exercise 8: Update set1 by adding items from set2, except common items**

In [23]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.symmetric_difference_update(set2)
print(set1)

{70, 10, 20, 60}

**Exercise 9: Remove items from set1 that are not common to both set1 and set2**

In [25]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection_update(set2)
print(set1)

{40, 50, 30}