<a href="https://colab.research.google.com/github/hydermbs/Python-exercise/blob/main/String_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise 1A: Create a string made of the first, middle and last character**

Write a program to create a new string made of an input string’s first, middle, and last character.

Given:

str1 = "James"

In [ ]:
str1='James'
print('str1 is',str1)
# Get first character
res=str1[0]
# Get string size
l=len(str1)
# Get middle index number
mi = int(l/2)
# Get middle character and add it to result
res=res+str1[mi]
# Get last character and add it to result
res= res+str1[l-1]
print('new string: ',res)

str1 is James
new string:  Jms

**Exercise 1B: Create a string made of the middle three characters**

Write a program to create a new string made of the middle three characters of an input string.

Given:

Case 1   str1 = "JhonDipPeta"

Case 2    str2 = "JaSonAy"

In [ ]:
def get_middle_str(str1):
  print('Original Str is ', str1)
  mi = int(len(str1)/2)
  res = str1[mi-1:mi+2]
  print('Middle Three Characters are: ',res)
get_middle_str('JhonDipPeta')
get_middle_str('JaSonAy')

Original Str is  JhonDipPeta
Middle Three Characters are:  Dip
Original Str is  JaSonAy
Middle Three Characters are:  Son

**Exercise 2: Append new string in the middle of a given string**

Given two strings, s1 and s2. Write a program to create a new string s3 by appending s2 in the middle of s1.

Given:

s1 = "Ault"
s2 = "Kelly"

In [ ]:
def append(str1, str2):
  print('Original s1 & s2 is ',str1, str2)
  l = len(str1)
  mi = int(len(str1)/2)
  x = str1[:mi:]
  x = x + str2
  x = x+ str1[mi:]
  print('after appending new string in middile is ',x)
append('Ault',  'Kelly')

Original s1 & s2 is  Ault Kelly
after appending new string in middile is  AuKellylt

**Exercise 3: Create a new string made of the first, middle, and last characters of each input string**
Given two strings, s1 and s2, write a program to return a new string made of s1 and s2’s first, middle, and last characters.

Given:

s1 = "America"
s2 = "Japan"

In [ ]:
def mix_string(s1, s2):
  #first we get first charcter:
  f_char = s1[0] + s2[0]
  #then we take middle character by length and divided by 2
  mid_char = s1[int(len(s1)/2)] + s2[int(len(s2)/2)]
  # We will take last character
  last_char = s1[len(s1)-1] + s2[len(s2)-1]
  #add all
  res = f_char + mid_char + last_char
  print('Mix string is ', res)
mix_string('America', 'Japan')

Mix string is  AJrpan

**Exercise 4: Arrange string characters such that lowercase letters should come first**

Given string contains a combination of the lower and upper case letters. Write a program to arrange the characters of a string so that all lowercase letters should come first.

Given:
HydErKhan

In [ ]:
str1 = 'HydErKhan'

print('Original String : ',str1)
lower=[]
upper =[]
for char in str1:
  if char.islower():
    lower.append(char)
  else:
    upper.append(char)


sorted_str = ''.join(lower+upper)
print(sorted_str)

Original String :  HydErKhan
ydrhanHEK

**Exercise 5: Count all letters, digits, and special symbols from a given string**

**Given:**

str1 = "P@#yn26at^&i5ve"

In [ ]:
def find_digits(str1):
  char_count = 0
  symbol = 0
  digit = 0
  for char in str1:
    if char.isalpha():
      char_count += 1
    elif char.isdigit():
      digit += 1
    else:
       symbol += 1
  print('Ltrs Count = ', char_count, 'Symbol Count = ',symbol,'Digit Counts = ',digit)
# str1 = 'P@#yn26at^&i5ve'
print('Total count')
find_digits('P@#yn26at^&i5ve')

Total count
Ltrs Count =  8 Symbol Count =  4 Digit Counts =  3

**Exercise 6: Create a mixed String using the following rules**

Given two strings, s1 and s2. Write a program to create a new string s3 made of the first char of s1, then the last char of s2, Next, the second char of s1 and second last char of s2, and so on. Any leftover chars go at the end of the result.

**Given:**
s1 = "Abc"
s2 = "Xyz"

In [ ]:
str1 = 'Abc'
str2 = 'Xyz'

#We take length of both strings

s1_length = len(str1)
s2_length = len(str2)

#get length of bigger string

length = s1_length if s1_length > s2_length else s2_length
result = ''

#reverse s2

str2 = str2[::-1]

# iterate string 
# s1 ascending and s2 descending

for i in range (length):
  if i < s1_length:
    result = result + str1[i]
  if i < s2_length:
    result= result +str2[i]
print(result)

AzbycX

**Exercise 7: String characters balance Test**

Write a program to check if two strings are balanced. For example, strings s1 and s2 are balanced if all the characters in the s1 are present in s2. The character’s position doesn’t matter.

**Given:**

Case 1:

s1 = "Yn"
s2 = "PYnative"

Case 2:

s1 = "Ynf"
s2 = "PYnative

In [ ]:
def string_balance(s1,s2):
  flag = True
  for char in s1:
    if char in s2:
      continue
    else:
      flag = False
  return flag

s1 = "Yn"
s2 = "PYnative"
flag = string_balance(s1, s2)
print("s1 and s2 are balanced:", flag)

s1 = "Ynf"
s2 = "PYnative"
flag = string_balance(s1, s2)
print("s1 and s2 are balanced:", flag)

s1 and s2 are balanced: True
s1 and s2 are balanced: False

**Exercise 8: Find all occurrences of a substring in a given string by ignoring the case**

Write a program to find all occurrences of “USA” in a given string ignoring the case.

Given:

str1 = "Welcome to USA. usa awesome, isn't it?"

In [ ]:
str1 = "Welcome to USA. usa awesome, isn't it?"
sub_string = "USA"

# convert string to lowercase
temp_str = str1.lower()

# use count function
count = temp_str.count(sub_string.lower())
print("The USA count is:", count)

The USA count is: 2

**Exercise 9: Calculate the sum and average of the digits present in a string**

Given a string s1, write a program to return the sum and average of the digits that appear in the string, ignoring all other characters.

**Given:**
str1 = "PYnative29@#8496"

In [ ]:
input_str = 'PYnative29@#8496'
total = 0
count = 0

for char in input_str:
  if char.isdigit():
    total += int(char)
    count += 1
print(total)

38

**Exercise 10: Write a program to count occurrences of all characters within a string**

Given:

str1 = "Apple"

In [ ]:
str1 = 'Apple'

char_dict = {}

for char in str1:
  count = str1.count(char)
  char_dict[char] = count
print('Result is :', char_dict)

Result is : {'A': 1, 'p': 2, 'l': 1, 'e': 1}

**Exercise 11: Reverse a given string**

Given:

str1 = "PYnative"
Expected Output:

evitanYP

In [10]:
str1 = 'Hyder'
str1 = str1[::-1]
print(str1)

redyH

**Exercise 12: Find the last position of a given substring**

Write a program to find the last position of a substring “Emma” in a given string.

Given:

str1 = "Emma is a data scientist who knows Python. Emma works at google."

In [11]:
str1 = "Emma is a data scientist who knows Python. Emma works at google."

print('Original String : ',str1)

index = str1.rfind('Emma')

print('Last Occurance of Emma is ', index)

Original String :  Emma is a data scientist who knows Python. Emma works at google.
Last Occurance of Emma is  43

**Exercise 13: Split a string on hyphens**

Write a program to split a given string on hyphens and display each substring.

Given:

str1 = Emma-is-a-data-scientist

In [15]:
str1 = 'Emma-is-a-data-scientist'

print('Original String : ', str1)

sub_str1 = str1.split("-")

for sub in sub_str1:
  print(sub)

Original String :  Emma-is-a-data-scientist
Emma
is
a
data
scientist

**Exercise 14: Remove empty strings from a list of strings**

Given:

str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]

In [22]:
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
print('Original List: ', str_list)

filter_list = list(filter(None,str_list))

print(filter_list)

Original List:  ['Emma', 'Jon', '', 'Kelly', None, 'Eric', '']
['Emma', 'Jon', 'Kelly', 'Eric']

**Exercise 15: Remove special symbols / punctuation from a string**

Given:

str1 = "/*Jon is @developer & musician"

In [24]:
import string

str1 = "/*Jon is @developer & musician"

print("original String: ",str1)

new_str = str1.translate(str.maketrans('','',string.punctuation))
print('New String is :',new_str)

original String:  /*Jon is @developer & musician
New String is : Jon is developer  musician

In [25]:
import re

str1 = "/*Jon is @developer & musician"
print("Original string is ", str1)

# replace special symbols with ''
res = re.sub(r'[^\w\s]', '', str1)
print("New string is ", res)

Original string is  /*Jon is @developer & musician
New string is  Jon is developer  musician

**Exercise 16: Removal all characters from a string except integers**

Given:

str1 = 'I am 25 years and 10 months old'

In [29]:
str1 = 'I am 25 years and 10 months old'

print('Original String is:',str1)

# Retain Numbers in String
# Using list comprehension + join() + isdigit()
res = "".join([item for item in str1 if item.isdigit()])
print(res)

Original String is: I am 25 years and 10 months old
2510

**Exercise 17: Find words with both alphabets and numbers**

Write a program to find words with both alphabets and numbers from an input string.

Given:

str1 = "Emma25 is Data scientist50 and AI Expert"

In [33]:
str1 = "Emma25 is Data scientist50 and AI Expert"

print('Original String is :',str1)

res = []

# split string on whitespace

temp = str1.split()

# Words with both alphabets and numbers
# isdigit() for numbers + isalpha() for alphabets
# use any() to check each character

for item in temp:
  if any(char.isalpha for char in item) and any(char.isdigit for char in item):
    res.append(item)
print('Displaying Result')
for i in res:
  print(i)

Original String is : Emma25 is Data scientist50 and AI Expert
Displaying Result
Emma25
is
Data
scientist50
and
AI
Expert

**Exercise 18: Replace each special symbol with # in the following string**

Given:

str1 = '/*Jon is @developer & musician!!'

In [35]:
import string

str1 = '/*Jon is @developer & musician!!'

print('Original String: ',str1)

# Replace punctuations with #

replace_char ='#'
# string.punctuation to get the list of all special symbols
for char in string.punctuation:
  str1 = str1.replace(char,replace_char)
print('New String is: ',str1)

Original String:  /*Jon is @developer & musician!!
New String is:  ##Jon is #developer # musician##